<h1>Chat room</h1>

<div id='messages' data-room-id="<%= @room.room_number %>">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label>
  <input type='text' data-behavior='room_speaker'>
</form>
